@model Pizza

@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1>Dettaglio Pizza</h1>
</div>
<section class="ms-5">
    <h2>Pizza: @Model.Name</h2>
    <img src="https://img.pizza/350/400" alt="pizza">
    <h5>Categoria: @Model.Category.Name</h5>
    <div class="d-flex flex-wrap">
        <h5>Ingredienti: </h5>
        <ul>
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                <li class="badge btn-info">@ingredient.Name</li>
            }
        </ul>
    </div>
    <p>Descrizione: @Model.Description</p>
    <h5>Prezzo: @Model.Price €</h5>
    <div class="d-flex flex-wrap">
        <a class="btn btn-warning me-3" asp-area="" asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Id">Modifica</a>
        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
    </div>
</section>